<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>CrazyHorse :: Home</title>
</head>
<body>
	<h1>Home</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<div id="home">
		<p>{{message}}</p>
		<div id="querystring">
			<p>Query String Params</p>
			<ul>
				<li>Dog: {{dog}}</li>
				<li>Cat: {{cat}}</li>
			</ul>
		</div>
		<div id="configuration-settings">
			<p>Configuration Settings</p>
			<ul>
				<li>twitterApiKey: {{twitterApiKey}}</li>
				<li>newsPhotosPath: {{newsPhotosPath}}</li>
			</ul>
		</div>
		<div id="configuration-custom-section">
			<p>Custom Configuration Settings</p>
			<ul>
				<li>Lucy: {{custom_lucy}}</li>
				<li>Tail: {{custom_tail}}</li>
			</ul>
		</div>
	</div>
</body>
</html>