<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>CrazyHorse :: News</title>
</head>
<body>
	<h1>News</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<div id="news">
		<h2>Filter By Category</h2>
		<ul>
			<li><a href="/news/latest">Latest</a></li>
			<li><a href="/news/featured">Featured</a></li>
			<li><a href="/news/dsfjksdjfksd-fksjfklsdj">Catch All</a></li>
			<li><a href="/news/latest/bla-bla">404</a></li>
		</ul>
		<p>{{message}}</p>
		<p>{{category}}</p>
	</div>
</body>
</html>